/* =========================================================================
 * MEDIA STACKED OBJECT
 * ========================================================================= */

/**
 * Stacked image-with-text object. A simple abstraction to cover a very
 * commonly occurring design pattern.
 *
 * <div class="o-media-stacked">
 *   <img class="o-media-stacked__img" />
 *   <div class="o-media-stacked__body">
 *     <p>Body Content</p>
 *   </div>
 * </div>
 */

.o-media-stacked {
  display: block;
  text-align: center;
}

.o-media-stacked__img {
  margin-bottom: $global-spacing;
}

.o-media-stacked__body {
  display: block;
}




/* Alignment modifiers.
   ========================================================================== */

.o-media-stacked--right {
  text-align: right;
}

.o-media-stacked--left {
  text-align: left;
}




/* Spacing modifiers (margin-bottom).
       ========================================================================== */

/**
 * Modify the amount of space between the image and body.
 */

@each $spacing-name, $spacing-factor in $global-spacing-factors {

  .o-media-stacked--#{$spacing-name} > .o-media-stacked__img {
    margin-bottom: ($global-spacing * $spacing-factor);
  }

}
