/* =========================================================================
 * MEDIA STACKED OBJECT
 * ========================================================================= */

/**
 * Stacked image-with-text object. A simple abstraction to cover a very
 * commonly occurring design pattern.
 *
 * <div class="o-media-stacked">
 *   <img class="o-media-stacked__img" />
 *   <div class="o-media-stacked__body">
 *     <p>Body Content</p>
 *   </div>
 * </div>
 */

.o-media-stacked {
  display: block;
  text-align: center;
}

.o-media-stacked__img {
  margin-bottom: $global-spacing;
}

.o-media-stacked__body {
  display: block;
}




/* Spacing modifiers (margin-bottom).
       ========================================================================== */

/**
 * Modify the amount of space between the image and body.
 */

$media-stacked-spacing-modifiers: (
  'xs': $global-spacing-xs,
  's': $global-spacing-s,
  'l': $global-spacing-l,
  'xl': $global-spacing-xl
) !default;

@each $spacing-name, $spacing-size in $media-stacked-spacing-modifiers {

  .o-media-stacked--#{$spacing-name} > .o-media-stacked__img {
    margin-bottom: $spacing-size;
  }

}




/* Alignment modifiers.
   ========================================================================== */

.o-media-stacked--right {
  text-align: right;
}

.o-media-stacked--left {
  text-align: left;
}
