/* =========================================================================
 * ALIGNMENT UTILITIES
 * ========================================================================= */

@mixin align-utility($breakpoint: null) {

  /**
   * Vertical alignment classes.
   */

  .#{$utility-prefix}va#{$utility-value-separator}bl#{$breakpoint} {
    vertical-align: baseline !important;
  }

  .#{$utility-prefix}va#{$utility-value-separator}b#{$breakpoint} {
    vertical-align: bottom !important;
  }

  .#{$utility-prefix}va#{$utility-value-separator}m#{$breakpoint} {
    vertical-align: middle !important;
  }

  .#{$utility-prefix}va#{$utility-value-separator}t#{$breakpoint} {
    vertical-align: top !important;
  }

  .#{$utility-prefix}va#{$utility-value-separator}s#{$breakpoint} {
    vertical-align: sub !important;
  }

  .#{$utility-prefix}va#{$utility-value-separator}p#{$breakpoint} {
    vertical-align: super !important;
  }


  /**
   * Horizontal alignment
   */

  .#{$utility-prefix}center#{$breakpoint} {
    margin-right: auto !important;
    margin-left: auto !important;
  }

}


@include align-utility();
