/* =========================================================================
 * ALIGNMENT UTILITIES
 * ========================================================================= */

/**
 * Vertical alignment classes.
 */

.u-vabl {
  vertical-align: baseline !important;
}

.u-vab {
  vertical-align: bottom !important;
}

.u-vam {
  vertical-align: middle !important;
}

.u-vat {
  vertical-align: top !important;
}

.u-vas {
  vertical-align: sub !important;
}

.u-vap {
  vertical-align: super !important;
}


/**
 * Vertical alignment classes.
 */

.u-center {
  margin-right: auto !important;
  margin-left: auto !important;
}
