/* =========================================================================
 * DISPLAY UTILITIES
 * ========================================================================= */

/**
 * Display utility classes
 *
 * https://github.com/tachyons-css/tachyons/blob/master/src/_display.css
 */

@mixin display-utility($breakpoint: null) {

  /**
   * Hide only visually, but have it available for screen readers:
   * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   */

  /**
   * Hide only visually, but have it available for screen readers:
   * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   */

  .u-hidden#{$breakpoint} {
    @include hide();
  }

  .u-d-n#{$breakpoint} {
    display: none !important;
  }

  .u-d-i#{$breakpoint} {
    display: inline !important;
  }

  .u-d-b#{$breakpoint} {
    display: block !important;
  }

  .u-d-li#{$breakpoint} {
    display: list-item !important;
  }

  .u-d-ib#{$breakpoint} {
    display: inline-block !important;
  }

  .u-d-it#{$breakpoint} {
    display: inline-table !important;
  }

  .u-d-t#{$breakpoint} {
    display: table !important;
  }

  .u-d-tc#{$breakpoint} {
    display: table-cell !important;
  }

  .u-d-tcl#{$breakpoint} {
    display: table-column !important;
  }

  .u-d-tcg#{$breakpoint} {
    display: table-column-group !important;
  }

  .u-d-tfg#{$breakpoint} {
    display: table-footer-group !important;
  }

  .u-d-thg#{$breakpoint} {
    display: table-header-group !important;
  }

  .u-d-tr#{$breakpoint} {
    display: table-row !important;
  }

  .u-d-trg#{$breakpoint} {
    display: table-row-group !important;
  }

  .u-d-f#{$breakpoint} {
    display: flex !important;
  }

  .u-d-if#{$breakpoint} {
    display: inline-flex !important;
  }

  .u-d-g#{$breakpoint} {
    display: grid !important;
  }

  .u-d-ig#{$breakpoint} {
    display: inline-grid !important;
  }

}

@include display-utility();

