/* =========================================================================
 * DISPLAY UTILITIES
 * ========================================================================= */

/**
 * Display utility classes
 *
 * https://github.com/tachyons-css/tachyons/blob/master/src/_display.css
 */

@mixin display-utility($breakpoint: null) {

  /**
   * Hide only visually, but have it available for screen readers:
   * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   */

  /**
   * Hide only visually, but have it available for screen readers:
   * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   */

  .#{$utility-prefix}hidden#{$breakpoint} {
    @include hide();
  }

  .#{$utility-prefix}d#{$utility-value-separator}n#{$breakpoint} {
    display: none !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}i#{$breakpoint} {
    display: inline !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}b#{$breakpoint} {
    display: block !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}li#{$breakpoint} {
    display: list-item !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}ib#{$breakpoint} {
    display: inline-block !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}it#{$breakpoint} {
    display: inline-table !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}t#{$breakpoint} {
    display: table !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}tc#{$breakpoint} {
    display: table-cell !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}tcl#{$breakpoint} {
    display: table-column !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}tcg#{$breakpoint} {
    display: table-column-group !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}tfg#{$breakpoint} {
    display: table-footer-group !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}thg#{$breakpoint} {
    display: table-header-group !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}tr#{$breakpoint} {
    display: table-row !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}trg#{$breakpoint} {
    display: table-row-group !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}f#{$breakpoint} {
    display: flex !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}if#{$breakpoint} {
    display: inline-flex !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}g#{$breakpoint} {
    display: grid !important;
  }

  .#{$utility-prefix}d#{$utility-value-separator}ig#{$breakpoint} {
    display: inline-grid !important;
  }

}

@include display-utility();

