/* =========================================================================
 * FLOAT UTILITIES
 * ========================================================================= */

@mixin float-utility($breakpoint: null) {

  .#{$utility-prefix}f-l#{$breakpoint} {
    float: left !important;
  }

  .#{$utility-prefix}f-r#{$breakpoint} {
    float: right !important;
  }

  .#{$utility-prefix}f-n#{$breakpoint} {
    float: none !important;
  }

}


@include float-utility();
