/* =========================================================================
 * FLOAT UTILITIES
 * ========================================================================= */

@mixin float-utility($breakpoint: null) {

  .u-fl#{$breakpoint} {
    float: left !important;
  }

  .u-fr#{$breakpoint} {
    float: right !important;
  }

  .u-fn#{$breakpoint} {
    float: none !important;
  }

}


@include float-utility();
