/* =========================================================================
 * OVERFLOW
 * ========================================================================= */

@mixin overflow-utility($breakpoint: null) {

  .#{$utility-prefix}ov-a#{$breakpoint} {
    overflow: auto !important;
  }

  .#{$utility-prefix}ovx-a#{$breakpoint} {
    overflow-x: auto !important;
  }

  .#{$utility-prefix}ovy-a#{$breakpoint} {
    overflow-y: auto !important;
  }

  .#{$utility-prefix}ov-h#{$breakpoint} {
    overflow: hidden !important;
  }

  .#{$utility-prefix}ovx-h#{$breakpoint} {
    overflow-x: hidden !important;
  }

  .#{$utility-prefix}ovy-h#{$breakpoint} {
    overflow-y: hidden !important;
  }

  .#{$utility-prefix}ov-s#{$breakpoint} {
    overflow: scroll !important;
  }

  .#{$utility-prefix}ovx-s#{$breakpoint} {
    overflow-x: scroll !important;
  }

  .#{$utility-prefix}ovy-s#{$breakpoint} {
    overflow-y: scroll !important;
  }

}

@include overflow-utility();
