/* =========================================================================
 * SPACING UTILITIES
 * ========================================================================= */

/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-mt {}
 *   .u-pl-xs {}
 *   .u-mr-s {}
 *   .u-p {}
 *   .u-pr-0 {}
 *   .u-ph {}
 *   .u-pv-l {}
 */

/* stylelint-disable string-quotes, max-nesting-depth */

$spacing-directions: (
  null: null,
  't': '-top',
  'r': '-right',
  'b': '-bottom',
  'l': '-left',
  'h': '-left' '-right',
  'v': '-top' '-bottom',
) !default;

$spacing-properties: (
  'p': 'padding',
  'm': 'margin',
) !default;

$spacing-factors: $global-spacing-factors !default;


@mixin spacing-utility($breakpoint: null) {

  // Add zero and null modifiers to the factor list so classes like `u-ph-0` and
  // `u-pl` are created automatically
  $factors: map-merge((
    '0': 0,
    null: 1
  ), $spacing-factors);

  @each $property-namespace, $property in $spacing-properties {

    @each $direction-namespace, $direction-rules in $spacing-directions {

      @each $factor-namespace, $factor in $spacing-factors {

        // do not print negative padding rules
        @if ($factor >= 0) or ($property != 'padding') {

          // Add a hyphen before the namespace if it's not null
          // `xs` = `u-p-xs`
          // null = `u-p`
          @if ($factor-namespace != null) {
            $factor-namespace: "-#{$factor-namespace}";
          }

          .u-#{$property-namespace}#{$direction-namespace}#{$factor-namespace}#{$breakpoint} {

            @each $direction in $direction-rules {
              #{$property}#{$direction}: ($factor * $global-spacing) !important;
            }

          }

        }

      }

    }

  }

}


/**
 * A series of spacing helper classes that you can use to give spacing.
 * Use these in your markup:
 *
 * <div class="u-pl-xs">
 *
 * The following will generate spacing helper classes.
 */

@include spacing-utility();
