/* =========================================================================
 * TRACKING UTILITIES
 * ========================================================================= */

@mixin tracking-utility($breakpoint: null) {

  .u-tracking#{$breakpoint} {
    letter-spacing: .1em;
  }

  .u-tracking-tight#{$breakpoint} {
    letter-spacing: -.05em;
  }

  .u-tracking-mega #{$breakpoint}{
    letter-spacing: .25em;
  }

}


@include tracking-utility();
