/* =========================================================================
 * TRACKING UTILITIES
 * ========================================================================= */

@mixin tracking-utility($breakpoint: null) {

  .#{$utility-prefix}tracking#{$breakpoint} {
    letter-spacing: 0.1em;
  }

  .#{$utility-prefix}tracking-tight#{$breakpoint} {
    letter-spacing: -0.05em;
  }

  .#{$utility-prefix}tracking-mega#{$breakpoint} {
    letter-spacing: 0.25em;
  }

}


@include tracking-utility();
