/* =========================================================================
 * TRACKING UTILITIES
 * ========================================================================= */

@mixin trackingUtility($breakpoint: null) {

  .#{$utilityPrefix}tracking#{$breakpoint} {
    letter-spacing: 0.1em;
  }

  .#{$utilityPrefix}tracking-tight#{$breakpoint} {
    letter-spacing: -0.05em;
  }

  .#{$utilityPrefix}tracking-mega#{$breakpoint} {
    letter-spacing: 0.25em;
  }

}


@include trackingUtility();
