/* =========================================================================
 * TYPOGRAPHY UTILITIES
 * ========================================================================= */


@mixin typography-utility($breakpoint: null) {

  /* Font Sizes
     ========================================================================= */

  @each $font-size-name, $font-size in $font-sizes {

    .#{$utility-prefix}fz-#{$font-size-name}#{$breakpoint} {
      font-size: get-font-size($font-size-name) !important;
    }

  }



  /* Text Align
     ========================================================================== */

  .#{$utility-prefix}ta-l#{$breakpoint} {
    text-align: left !important;
  }

  .#{$utility-prefix}ta-r#{$breakpoint} {
    text-align: right !important;
  }

  .#{$utility-prefix}ta-c#{$breakpoint} {
    text-align: center !important;
  }




  /* Font Style
     ========================================================================== */

  .#{$utility-prefix}normal#{$breakpoint} {
    font-style: italic !important;
    font-weight: normal !important;
  }

  .#{$utility-prefix}fs-i#{$breakpoint} {
    font-style: italic !important;
  }




  /* Font Weight
     ========================================================================== */

  .#{$utility-prefix}b#{$breakpoint} {
    font-weight: bold !important;
  }

  .#{$utility-prefix}fw-1#{$breakpoint} {
    font-weight: 100 !important;
  }

  .#{$utility-prefix}fw-2#{$breakpoint} {
    font-weight: 200 !important;
  }

  .#{$utility-prefix}fw-3#{$breakpoint} {
    font-weight: 300 !important;
  }

  .#{$utility-prefix}fw-4#{$breakpoint} {
    font-weight: 400 !important;
  }

  .#{$utility-prefix}fw-5#{$breakpoint} {
    font-weight: 500 !important;
  }

  .#{$utility-prefix}fw-6#{$breakpoint} {
    font-weight: 600 !important;
  }

  .#{$utility-prefix}fw-7#{$breakpoint} {
    font-weight: 700 !important;
  }

  .#{$utility-prefix}fw-8#{$breakpoint} {
    font-weight: 800 !important;
  }

  .#{$utility-prefix}fw-9#{$breakpoint} {
    font-weight: 900 !important;
  }




  /* Text Transform
     ========================================================================== */

  .#{$utility-prefix}tt-c#{$breakpoint} {
    text-transform: capitalize !important;
  }

  .#{$utility-prefix}tt-l#{$breakpoint} {
    text-transform: lowercase !important;
  }

  .#{$utility-prefix}tt-u#{$breakpoint} {
    text-transform: uppercase !important;
  }

  .#{$utility-prefix}tt-n#{$breakpoint} {
    text-transform: none !important;
  }




  /* Line Height
     ========================================================================== */

  .#{$utility-prefix}lh-solid#{$breakpoint} {
    line-height: 1 !important;
  }

  .#{$utility-prefix}lh-title#{$breakpoint} {
    line-height: 1.25 !important;
  }

  .#{$utility-prefix}lh-copy#{$breakpoint} {
    line-height: $base-line-height !important;
  }



  /* Letter Spacing
     ========================================================================== */

  .#{$utility-prefix}ls-tight#{$breakpoint} {
    letter-spacing: -0.5em !important;
  }

  .#{$utility-prefix}ls#{$breakpoint} {
    letter-spacing: 0.1em !important;
  }

  .#{$utility-prefix}ls-loose#{$breakpoint} {
    letter-spacing: 0.25em !important;
  }




  /* Truncate
     ========================================================================== */

  // Combine this class with a width to truncate text (or just leave as
  // is to truncate at width of containing element.
  .#{$utility-prefix}truncate#{$breakpoint} {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }




  /* Measure
     ========================================================================== */

  /**
   * Measure refers to the length of a line of text. It is one of the most
   * important aspects of readability.
   *
   * Provide 3 classes for setting measure:
   *  .measure = line lengths ~66 characters
   *  .measure-narrow = line lengths ~45 characters
   *  .measure-wide = line lengths ~80 characters
   *
   * http://tachyons.io/docs/typography/measure/
   */

  @each $measure-variant, $measure-width in $measure-widths {

    @if ($measure-variant != null) {
      $measure-variant: '-#{$measure-variant}';
    }

    .#{$utility-prefix}-measure#{$measure-variant}#{$breakpoint} {
      max-width: $measure-width !important;
    }

  }

}

@include typography-utility();
