/* =========================================================================
 * TYPOGRAPHY UTILITIES
 * ========================================================================= */


@mixin typographyUtility($breakpoint: null) {

  /* Font Sizes
     ========================================================================= */

  @each $fontSizeName, $fontSize in $fontSizes {

    .#{$utilityPrefix}fz#{$utilityValueSeparator}#{$fontSizeName}#{$breakpoint} {
      font-size: getFontSize($fontSizeName) !important;
    }

  }



  /* Text Align
     ========================================================================== */

  .#{$utilityPrefix}ta#{$utilityValueSeparator}l#{$breakpoint} {
    text-align: left !important;
  }

  .#{$utilityPrefix}ta#{$utilityValueSeparator}r#{$breakpoint} {
    text-align: right !important;
  }

  .#{$utilityPrefix}ta#{$utilityValueSeparator}c#{$breakpoint} {
    text-align: center !important;
  }




  /* Font Style
     ========================================================================== */

  .#{$utilityPrefix}normal#{$breakpoint} {
    font-style: italic !important;
    font-weight: normal !important;
  }

  .#{$utilityPrefix}fs#{$utilityValueSeparator}i#{$breakpoint} {
    font-style: italic !important;
  }




  /* Font Weight
     ========================================================================== */

  .#{$utilityPrefix}b#{$breakpoint} {
    font-weight: bold !important;
  }

  .#{$utilityPrefix}fw#{$utilityValueSeparator}1#{$breakpoint} {
    font-weight: 100 !important;
  }

  .#{$utilityPrefix}fw#{$utilityValueSeparator}2#{$breakpoint} {
    font-weight: 200 !important;
  }

  .#{$utilityPrefix}fw#{$utilityValueSeparator}3#{$breakpoint} {
    font-weight: 300 !important;
  }

  .#{$utilityPrefix}fw#{$utilityValueSeparator}4#{$breakpoint} {
    font-weight: 400 !important;
  }

  .#{$utilityPrefix}fw#{$utilityValueSeparator}5#{$breakpoint} {
    font-weight: 500 !important;
  }

  .#{$utilityPrefix}fw#{$utilityValueSeparator}6#{$breakpoint} {
    font-weight: 600 !important;
  }

  .#{$utilityPrefix}fw#{$utilityValueSeparator}7#{$breakpoint} {
    font-weight: 700 !important;
  }

  .#{$utilityPrefix}fw#{$utilityValueSeparator}8#{$breakpoint} {
    font-weight: 800 !important;
  }

  .#{$utilityPrefix}fw#{$utilityValueSeparator}9#{$breakpoint} {
    font-weight: 900 !important;
  }




  /* Text Transform
     ========================================================================== */

  .#{$utilityPrefix}tt#{$utilityValueSeparator}c#{$breakpoint} {
    text-transform: capitalize !important;
  }

  .#{$utilityPrefix}tt#{$utilityValueSeparator}l#{$breakpoint} {
    text-transform: lowercase !important;
  }

  .#{$utilityPrefix}tt#{$utilityValueSeparator}u#{$breakpoint} {
    text-transform: uppercase !important;
  }

  .#{$utilityPrefix}tt#{$utilityValueSeparator}n#{$breakpoint} {
    text-transform: none !important;
  }




  /* Line Height
     ========================================================================== */

  .#{$utilityPrefix}lh-solid#{$breakpoint} {
    line-height: 1 !important;
  }

  .#{$utilityPrefix}lh-title#{$breakpoint} {
    line-height: 1.25 !important;
  }

  .#{$utilityPrefix}lh-copy#{$breakpoint} {
    line-height: $baseLineHeight !important;
  }



  /* Letter Spacing
     ========================================================================== */

  .#{$utilityPrefix}ls-tight#{$breakpoint} {
    letter-spacing: -0.5em !important;
  }

  .#{$utilityPrefix}ls#{$breakpoint} {
    letter-spacing: 0.1em !important;
  }

  .#{$utilityPrefix}ls-loose#{$breakpoint} {
    letter-spacing: 0.25em !important;
  }




  /* Truncate
     ========================================================================== */

  // Combine this class with a width to truncate text (or just leave as
  // is to truncate at width of containing element.
  .#{$utilityPrefix}truncate#{$breakpoint} {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }




  /* Measure
     ========================================================================== */

  /**
   * Measure refers to the length of a line of text. It is one of the most
   * important aspects of readability.
   *
   * Provide 3 classes for setting measure:
   *  .measure = line lengths ~66 characters
   *  .measure-narrow = line lengths ~45 characters
   *  .measure-wide = line lengths ~80 characters
   *
   * http://tachyons.io/docs/typography/measure/
   */

  @each $measureVariant, $measureWidth in $measureWidths {

    @if ($measureVariant != null) {
      $measureVariant: "-#{$measureVariant}";
    }

    .#{$utilityPrefix}measure#{$measureVariant}#{$breakpoint} {
      max-width: $measureWidth !important;
    }

  }

}

@include typographyUtility();
