/* =========================================================================
 * WHITE SPACE UTILITIES
 * ========================================================================= */

@mixin white-space-utility($breakpoint: null) {

  .u-ws-n#{$breakpoint} {
    white-space: normal;
  }

  .u-ws-p#{$breakpoint} {
    white-space: pre;
  }

  .u-ws-nw#{$breakpoint} {
    white-space: nowrap;
  }

  .u-ws-pw#{$breakpoint} {
    white-space: pre-wrap;
  }

  .u-ws-pl#{$breakpoint} {
    white-space: pre-line;
  }

  .u-wsc-n#{$breakpoint} {
    white-space-collapse: normal;
  }

  .u-wsc-k#{$breakpoint} {
    white-space-collapse: keep-all;
  }

  .u-wsc-l#{$breakpoint} {
    white-space-collapse: loose;
  }

  .u-wsc-bs#{$breakpoint} {
    white-space-collapse: break-strict;
  }

  .u-wsc-ba#{$breakpoint} {
    white-space-collapse: break-all;
  }

}


@include white-space-utility();
