/* =========================================================================
 * Z-INDEX
 * ========================================================================= */

/**
 * Base
 *  z = z-index
 * Modifiers
 *  0 = literal value 0
 *  1 = literal value 1
 *  2 = literal value 2
 *  3 = literal value 3
 *  4 = literal value 4
 *  5 = literal value 5
 *  999 = literal value 999
 *  -inherit = string value inherit
 *  -initial = string value initial
 *  -unset = string value unset
 *
 * MDN: https://developer.mozilla.org/en/docs/Web/CSS/z-index
 * Spec: http://www.w3.org/TR/CSS2/zindex.html
 * Article: https://philipwalton.com/articles/what-no-one-told-you-about-z-index/
 */

$z-index-depths: 0 1 2 3 4 5 10 20 30 40 50 60 70 80 90 100 !default;

@mixin z-index-utility($breakpoint: null) {

  @each $depth in $z-index-depths {

    .#{$utility-prefix}z#{$utility-value-separator}#{$depth}#{$breakpoint} {
      z-index: $depth !important;
    }

  }

  .#{$utility-prefix}z#{$utility-value-separator}inh#{$breakpoint} {
    z-index: inherit !important;
  }

  .#{$utility-prefix}z#{$utility-value-separator}ini#{$breakpoint} {
    z-index: initial !important;
  }

  .#{$utility-prefix}z#{$utility-value-separator}uns#{$breakpoint} {
    z-index: unset !important;
  }

}


@include z-index-utility();
