/* ==========================================================================
 * HEADING ELEMENTS
 * ========================================================================== */

h1 {
  font-size: getFontSize(1);
}

h2 {
  font-size: getFontSize(2);
}

h3 {
  font-size: getFontSize(3);
}

h4 {
  font-size: getFontSize(4);
}

h5 {
  font-size: getFontSize(5);
}

h6 {
  font-size: getFontSize(6);
}
