/* =========================================================================
 * HEADING ELEMENTS
 * ========================================================================= */

h1 {
  font-size: get-font-size(1);
}

h2 {
  font-size: get-font-size(2);
}

h3 {
  font-size: get-font-size(3);
}

h4 {
  font-size: get-font-size(4);
}

h5 {
  font-size: get-font-size(5);
}

h6 {
  font-size: get-font-size(6);
}
