/* =========================================================================
 * BREAKPOINT SETTINGS
 * ========================================================================= */

// Breakpoints are declared in rems for maximum flexibility
// HTML font size set to 62.5% so that 1rem is generally equal to 10px

$mq-breakpoints: (
	phone : 32em,
	tablet-v: 60em,
	tablet-h: 90em,
	desktop : 120em,
	wide : 180em
) !default;

// If using Sass-MQ for breakpoints, define the separator for breakpoints
// in class names. Default separator for breakpoint classes is an '@'
// symbol. For example:
// <div class="u-p--l@desktop">

$breakpoint-separator: \@ !default;
