/* =========================================================================
 * BREAKPOINT SETTINGS
 * ========================================================================= */

$mq-breakpoints: (
  phone: 320px,
  tablet-v: 600px,
  tablet-h: 900px,
  desktop: 1200px,
  wide: 1800px
) !default;


// If using Sass-MQ for breakpoints, define the separator for breakpoints
// in class names. Default separator for breakpoint classes is an '@'
// symbol. For example:
// <div class="u-p--l@desktop">

$breakpoint-separator: \@ !default;
