/* =========================================================================
 * CORE SETTINGS
 * ========================================================================= */

/**
 * This file contains core settings for the framework to function including
 * base typography and spacing units.
 */

// Base typographical styles

$base-font-size: 16px !default;
$base-line-height: 1.5 !default;


// Base spacing value
// Each component has its own spacing variable, which default to this value.

$global-spacing: 32px !default;


// Global spacing factors

$global-spacing-factors: (
  'xs': 0.5,
  's': 0.75,
  'l': 1.5,
  'xl': 2
) !default;


// Validate base-font/spacing values as rem numbers

@each $_px-value in
  $base-font-size
  $global-spacing {

  @if (type-of($_px-value) == number) {

    @if (unit($_px-value) != "px") {
      @error "`#{$_px-value}` requires a px value.";
    }

  } @else {
    @error "`#{$_px-value}` requires a number.";
  }

}



/**
 * Spacing variables
 *
 * These variables are just helpers in case you need specific spacing values
 * in your components. You may want to create similar variables if you customize
 * `$global-spacing-factors` to add new factors.
 */

$global-spacing-xs: round($global-spacing * map_get($global-spacing-factors, 'xs'));
$global-spacing-s:  round($global-spacing * map_get($global-spacing-factors, 's'));
$global-spacing-l:  round($global-spacing * map_get($global-spacing-factors, 'l'));
$global-spacing-xl: round($global-spacing * map_get($global-spacing-factors, 'xl'));
