/* ==========================================================================
 * BACKGROUND IMAGES NO-REPEAT
 * ========================================================================== */

* {
  &,
  &:before,
  &:after {
    background-repeat: no-repeat;
  }
}
